@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
}

body {
  font-family: 'pretendard';
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  padding: 2rem 0;
}
