@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
}

body {
  font-family: 'pretendard';
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1.5rem 1.25rem;
}
